/* Header.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family:"Playball";
  src: url("./assets/playball.zip");
}

@font-face {
  font-family: "Passion";
  src: url("./assets/Passion_One.zip");

}
.navbar-color {
    background-color:#0c4646e8; /* 45% opacity */
    color: #ffffff; /* White text color */
  }
  .footer-color {
    background-color:#0d3d3dd2; /* 45% opacity */
    color: #ffffff; /* White text color */
  }

  .bold-navbar{
    background-color: #0b3f37;
    color: white;
  }




  .navbar-color .font-playball{
    color: #ffffff;
    text-align: center;
    font-size: 2.5rem; 
  
  }
  
  .container-width{
    width: 100px;
  }


  .button-color{
    background-color: #353567;
    color: white;
  }



/*////////////////*modal css //////////////////////////

/* modal.css */
/* modal.css */

